.text {
  &.primary-0 {
    color: $primary_0;
  }
  &.primary-1 {
    color: $primary_1;
  }
  &.primary-1-plus {
    color: $primary_1_plus;
  }

  &.secondary-0 {
    color: $secondary_0;
  }
  &.secondary-1-plus {
    color: $secondary_1_plus;
  }
  &.secondary-2-plus {
    color: $secondary_2_plus;
  }
  &.secondary-3-plus {
    color: $secondary_3_plus;
  }
  &.secondary-4-plus {
    color: $secondary_4_plus;
  }
  &.secondary-5-plus {
    color: $secondary_5_plus;
  }
  &.secondary-6-plus {
    color: $secondary_6_plus;
  }
  &.secondary-7-plus {
    color: $secondary_7_plus;
  }
  &.secondary-8-plus {
    color: $secondary_8_plus;
  }
}
