// primary
$primary_1: #7362BF;
$primary_0: #483698;
$primary_1_plus: #291873;

// secondary
$secondary_0: #FFF;
$secondary_1_plus: #F9F9F9;
$secondary_2_plus: #DFDFDF;
$secondary_3_plus: #B9B9B9;
$secondary_4_plus: #8A8A8A;
$secondary_5_plus: #5A5A5A;
$secondary_6_plus: #3A3A3A;
$secondary_7_plus: #282828;
$secondary_8_plus: #000;

// action (CTA)
$cta_1: #FFE766;
$cta_0: #FBDE40;
$cta_1_plus: #D4B615;

// suport
$information: #17A2B8;
$success: #28A745;
$warning: #FFC107;
$danger: #DC3545;

//other
$white: #fff;