.light {
    /*text-field*/
    --text-field-input-group-text-background: #{$primary_0}!important;
    --text-field-input-group-text-color: #{$white}!important;
    --text-field-input-group-text: #{$primary_0}!important;
    --text-field-border-color: #{$primary_0}!important;

    /*spinner*/
    --spinner-border-color: #{$primary_0}!important;
}