.light {
    /*text-field*/
    --text-field-input-group-text-background: #{$primary_0}!important;
    --text-field-input-group-text-color: #{$white}!important;
    --text-field-input-group-text: #{$primary_0}!important;
    --text-field-border-color: #{$secondary_2_plus}!important;

    /*spinner*/
    --spinner-border-color: #{$primary_0}!important;

    /*card*/
    --card-footer-background: #{$white}!important;

    /*footer*/
    --footer-row-background: #{$white}!important;
}