.arrow-1 {
  border: solid $black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-2 {
  border: solid $secondary_3_plus;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.invalid-arrow {
  border-color: $danger!important;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
