.bnt-cta-0{
    background: $cta_0!important;
    color: $black!important;
    border-color: $cta_0!important;
}

.btn-primary-0 {
    background: $primary_0!important;
    color: $white!important;
    border-color: $primary_0!important;
}