.text-field .input-group-text {
    background: var(--text-field-input-group-text-background);
    color: var(--text-field-input-group-text-color);
    border-radius: 0px!important;
}

.btn-toolbar .input-group {
    width: -webkit-fill-available!important;
}